* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url(../images/back7.jpg);
	background-repeat: no-repeat;
  background-size: cover;
	font-family: 'Lato', sans-serif;
}

#header {
	color: white;
	text-align: center;
	width: 70%;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 20px;
	border-radius: 10px;
	height: 100px;
}

#header h1 {
	padding-top: 30px;
}

#container {
	color: white;
	height: 360px;
}

#links {
	color: white;
	text-align: center;
	height: 40px;
	margin-top: 30px;
}

a {
	color: white;
	margin-left: 7%;
	margin-right: 7%;
	border-style: solid;
	border-width: 3px;
	border-color: white;
	border-radius: 10px;
	padding: 10px;
	background-color: #02569E;
	font-size: 20px;
	display: inline-block;
  width: 90px;
  text-decoration: none;
}

#content {
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 40px;
	font-size: 18px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#footer {
	color: white;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	height: 30px;
}
